@charset "UTF-8";

body {
    font-family: "Roboto", Arial;
    text-align: center;
    background-color: white;
}

li {
    text-align: left;
}

h1 {
    font-weight: 400;
}

h2 {
   font-weight: normal;
}

.paddedSection {
    padding-left: 10%;
    width: 80%;
}

.paddedSection h1 {
    text-align: center;
    color: #000000;
    border: solid;
}

.paddedSection ul {
    text-align: center;
    color: #000000;
    border: solid;
}


.paddedSection h2 {
    text-align: center;
    color: #000000;
    border: solid;
}

a {
    color: #000000;
}

dt h2 {
    color: #000000;
    border: solid;
}

dd section {
    color: #000000;
    border: solid;
}

.skillDescription {
    text-align: center;
    padding-left: 10%;
    width: 80%;
}
.skillDescription ul{
    border: solid;
    text-align: center;
    color: #000000;
}

.cornerLogo {
    position: absolute;
    height: 90px;
    width: 90px;
    right: 10px;
    top: 10px;
    background: #FF5F16;
    font-size: 150%; 
    color: #B53800;
    border: solid;
}
.cornerLogo h1{
    vertical-align: middle;    
}

.skillDescription li {
    padding-top: 10px;
    list-style-type: none;
}

