@charset "UTF-8";

body {
    font-family: "Roboto", Arial;
    text-align: center;
    background-color: white;
}

li {
    text-align: left;
}

hr {
    width: 80%;
}

h1 {
    font-weight: 400;
}

h2 {
   font-weight: normal;
}

.personalInfo {
    padding-left: 10%;
    width: 80%;
}
.personalInfo h1 {
    text-align: center;
    color: #000000;
    border: solid;
}

.sectionHeader {
    padding-left: 10%;
    width: 80%;
}

.sectionHeader h1 {
    color: #000000;
    border: solid;
}

.education {
    padding-left: 10%;
    width: 80%;
}

.education h1 {
    text-align: center;
    color: #000000;
    border: solid;
}

.education h2 {
    text-align: center;
    color: #000000;
    border: solid;
}

.references {
    padding-left: 10%;
    width: 80%;
}

.references h1 {
    text-align: center;
    color: #000000;
    border: solid;
}

a {
    color: #000000;
}

.institutionDescription {
    width: 80%;
    text-align: left;
    padding-left: 10%;
}

dt {
    width: 80%;
    padding-left: 10%;
}

dt h2 {
    color: #000000;
    border: solid;
}

dd {
    width: 80%;
    padding-left:10%;
}

dd section {
    color: #000000;
    border: solid;
}
.skillDescription {
    text-align: center;
    padding-left: 10%;
    width: 80%;
}
.skillDescription ul{
    border: solid;
    text-align: center;
    color: #000000;
}

.cornerLogo {
    position: absolute;
    height: 90px;
    width: 90px;
    right: 10px;
    top: 10px;
    background: #FF5F16;
    font-size: 150%; 
    color: #B53800;
    border: solid;
}
.cornerLogo h1{
    vertical-align: middle;    
}

.skillDescription li {
    padding-top: 10px;
    list-style-type: none;
}

