@charset "UTF-8";

body {
    font-family: "Roboto", Arial;
    text-align: center;
    background-color: white;
}

li {
    text-align: left;
}

h1 {
    font-weight: 400;
}

h2 {
   font-weight: normal;
}

.paddedSection {
    padding-left: 10%;
    width: 80%;
}

.paddedSection h1 {
    text-align: center;
    color: #000000;
    border: solid;
}

.noListNodes {
    list-style-type: none;
}

.lightVerticalSpaced {
    line-height: 150%;
}

a {
    color: #000000;
}

.skillDescription {
    text-align: center;
    padding-left: 10%;
    width: 80%;
}

.skillDescription li {
    padding-top: 10px;
    list-style-type: none;
}

.dateColumn {
    position: relative;
    left: -58%;
    font-weight: bold;
}
