@charset "UTF-8";

body {
    font-family: arial;
    text-align: center;
}

li {
    text-align: left;
}

hr {
    width: 80%;
}

h1 {
    font-weight: normal;
}

h2 {
   font-weight: normal;
}

.institutionDescription {
    width: 80%;
    text-align: left;
    padding-left: 5%;
}

.skillDescription {
    width: 80%;
    text-align: left;
    padding-left: 5%;
}

.cornerLogo {
    position: absolute;
    height: 90px;
    width: 90px;
    right: 10px;
    top: 10px;
    background: red;
    font-size: 150%; 
    color: white;
    border-radius: 15px;
}
.cornerLogo h1{
    vertical-align: middle;    
}

.skillDescription li {
    padding-top: 10px;
}

